@{
    ViewData["Title"] = "DVDDetailsIndex";
    Layout = "_AdminLayout";
}

<div class="container-fluid py-4">
          <div class="row">
            <div class="col-12">
              <div class="card mb-4">
                <div class="card-header pb-0">
                  <h4 class="mt-3 text-center text-primary">DVD Details</h4>
                  <hr />
                </div>
              
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">DVD Title</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Date Released</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Producer</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Studio</th>
                          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Cast Members</th>
                        </tr>
                      </thead>
                      <tbody>
                      @foreach (var item in Model) {
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img src=@item.Picture class="avatar avatar-sm me-3" alt="user5">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">@item.Title</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0" style="margin-left: 1rem">@item.Release</p>
                          </td>
                          <td>
                            <p class="text-xs font-weight-regular mb-0">@item.Producer</p>
                          </td>
                          <td>
                            <p class="text-xs font-weight-regular mb-0">@item.Studio</p>
                          </td>
                          <td>
                                @foreach(var value in item.Cast)
                                {
                                    <p class="text-xs font-weight-regular mb-0">@value</p>
                                }
                          </td>
                        </tr>
                       }
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
