@*Define model*@

@model IEnumerable<DVDTitle>

@{
	ViewData["Title"] = "DVDs";
}


@*Define ViewData*@

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.DVDTitleName
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.DVDNumber"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.DVDPictureURL" width="100%" alt="@item.DVDTitleName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Studio: </b>@item.Studio.StudioName</p>
                            <p class="card-text"><b>Category: </b>@item.DVDCategory.CategoryName</p>
                            <p class="card-text"><b>Producer: </b>@item.Producer.ProducerName</p>
                            <p class="card-text"><b>Date Released: </b>@item.DateReleased.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>Standard Charge </b>Rs. @item.StandardCharge</p>
                            <p class="card-text"><b>Standard Charge </b>Rs. @item.PenaltyCharge</p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.DVDNumber">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	}
</div>
